body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: lightblue !important;
    overflow-y: hidden;
}

.navbar {
    width: 150px;
    height: 100vh;
    background-color: #27345C;
}

.logo {
    margin: 30px 0 100px 0;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.container {
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
}

.quiz-card {
    width: 50rem;
    background-color: lightblue !important;
    border: none !important;
}

.card-title {
    text-align: center;
}

.btn-primary {
    background-color: orangered !important;
    border-color: orangered !important;
}

.quiz-answer-card {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}

.question-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.endScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.endScreenTitle {
    margin-bottom: 30px;
    font-weight: bold;
}

.scoreDiv {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.score {
    color: green;
    font-weight: bold;
}

.shareButton {
    width: 200px;
    background-color: blue !important;
    border-color: blue !important;
    margin-bottom: 30px;
}

.replayBtn {
    background-color: transparent;
    border: none;
    color: blue;
}

.progress{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
}